.directory
*.csv
SWIFTDB.accdb
migrations/*.pyc
new_excel_files
venv
Progress.md
.old_tab_files
*~
swiftprogess
backups/
*/*/*.pyc
__pycache__/
BACKUP/*.csv
BACKUP/*/*.xlsx
BACKUP/*.dump
BACKUP/staging
example_data/old_data
