#
#                  __    __    __    __
#                 /  \  /  \  /  \  /  \
#                /    \/    \/    \/    \
#███████████████/  /██/  /██/  /██/  /████████████████████████
#              /  / \   / \   / \   / \  \____
#             /  /   \_/   \_/   \_/   \    o \__,
#            / _/                       \_____/  `
#            |/
#        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
#        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
#        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
#        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
#        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
#        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝
#
#        Supported by @QuantStack
#
#        GitHub:  https://github.com/QuantStack/mamba
#        Twitter: https://twitter.com/QuantStack
#
#█████████████████████████████████████████████████████████████
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1
alembic=1.3.2
blas=1.0
ca-certificates=2019.1.23
certifi=2019.11.28
click=7.0
et_xmlfile=1.0.1
flask=1.1.1
flask-migrate=2.5.2
flask-script=2.0.6
flask-sqlalchemy=2.4.1
intel-openmp=2019.3
itsdangerous=1.1.0
jdcal=1.4.1
jinja2=2.10.3
krb5=1.16.1
libedit=3.1.20181209
libffi=3.2.1
libgcc-ng=8.2.0
libgfortran-ng=7.3.0
libpq=11.2
libstdcxx-ng=8.2.0
mako=1.1.0
markupsafe=1.1.1
mkl=2019.4
mkl-service=2.3.0
mkl_fft=1.0.15
mkl_random=1.1.0
ncurses=6.1
numpy=1.17.4
numpy-base=1.17.4
openpyxl=3.0.2
openssl=1.1.1d
pandas=0.25.3
passlib=1.7.2
pip=19.3.1
postgresql=11.2
psycopg2=2.8.4
python=3.8.0
python-dateutil=2.8.1
python-editor=1.0.4
pytz=2019.3
readline=7.0
setuptools=42.0.2
six=1.13.0
sqlalchemy=1.3.11
sqlite=3.30.1
tk=8.6.8
werkzeug=0.16.0
wheel=0.33.6
wtforms=2.2.1
xz=5.2.4
zlib=1.2.11
