<div class="footer" style="left: 0px; bottom: 50px; height: 50px; width: 100%; background: #FFFFFF; text-align: center;">
  <p style="height: 16px;">Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2018 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</p>
    <p> <a href="/privacy" target="_blank">Privacy</a> </p>
  <img src="/static/GCRF-logo.jpg" alt="GCRF logo" style="height:50px; width:auto; padding: 1px">
  <img src="/static/UKRI-Logo_Horiz-RGB.png" alt="UKRI logo" style="height:50px; width:auto; padding: 1px">
  <img src="/static/NCAS-logo.jpg" alt="NCAS logo" style="height:50px; width:auto; padding: 1px">
</div>
