<div class="footer" style="position: fixed; left: 0px; bottom: 70px; height: 20px; width: 100%; background: #FFFFFF; text-align: center;">
  <p style="height: 20px;">Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2018 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</p>
</div>
<div class="footer" style="position: fixed; left: 0px; bottom: 0px; height: 70px; width: 100%; background: #FFFFFF; text-align: center;">
  <img src="/static/GCRF-logo.jpg" alt="GCRF logo" style="height:70px; width:auto; padding: 2px">
  <img src="/static/UKRC-logo.jpg" alt="UKRC logo" style="height:70px; width:auto; padding: 2px">
  <img src="/static/NCAS-logo.jpg" alt="NCAS logo" style="height:70px; width:auto; padding: 2px">
</div>
