{% extends "layout.html" %}
{% block title %}Forbidden{% endblock %}
{% block body %}
<h1>Forbidden</h1>
<p> Oops, You don't have access to that. Check your user is assigned responsiblity for Work Package or Parnter Task/ Deliverable you're trying to access.
  <p> If you believe this is an error please <a href="https://github.com/cemac/SWIFTDB/issues/new/choose">log as an issue</a>
    <p><a href="{{ url_for('index') }}">return to home</a>
      <h2> <b> Please Note: </b> Only Partner Leaders Can Edit Tasks and Deliverables </h2>
      <h2> <b> Please Note: </b> Only Work Package Leaders Can Update Work Package Status </h2>
      {% endblock %}
