{% extends "layout.html.j2" %}
{% block title %}Forbidden{% endblock %}
{% block body %}
<h1>Forbidden</h1>
<p> Oops, You don't have access to that. Check your user is assigned responsibility for Work Package or Partner Task/ Deliverable you're trying to access.
  <p> If you believe this is an error please <a href="https://github.com/cemac/SWIFTDB/issues/new/choose">log as an issue</a>
    <p><a href="{{ url_for('index') }}">return to home</a>
      <h2> <b> Tasks and Deliverables: </b> Only Partner Leaders Can Edit Tasks and Deliverables - Display only for Work Package Leaders.  </h2>
      <h2> <b> Work Packages: </b> Only Work Package Leaders Can Update Work Package Status </h2>
      <h2> <b> Admin: </b> Admin Edits are made via the Admin menu. (More edit options) </h2>
      <h2> <b> Admin: </b> Only the master admin account can delete admin or readonly group </h2>
      {% endblock %}
