{% extends 'layout.html' %}

{% block body %}
<SCRIPT language="javascript">
  function checkAll(ele) {
   var checkboxes = document.getElementsByTagName('input');
   if (ele.checked) {
       for (var i = 0; i < checkboxes.length; i++) {
           if (checkboxes[i].type == 'checkbox') {
               checkboxes[i].checked = true;
           }
       }
   } else {
       for (var i = 0; i < checkboxes.length; i++) {
           console.log(i)
           if (checkboxes[i].type == 'checkbox') {
               checkboxes[i].checked = false;
           }
       }
     }
  }
  </SCRIPT>
<h1>User Access Settings</h1>
<p> Users must log out and back in for changes to take effect </p>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form action=/access/{{id}} method="POST">
  <div class="form-group">
    {{render_field(form.username, class_="form-control")}}
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <br>
  <th><INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" id="select all" /> </th>
  <td><label for="select all">Select All</label></td>
  <hr>
  <div class="form-group">
    {{form.AdminReader.label}}
    <br>
    {% for subfield in form.partners %}
    {% if subfield.label.text == "admin" or subfield.label.text == "ViewAll" %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
    <br>
    {% endif %}
    {% endfor %}

    <br>
  </div>
  <hr>
  <div class="form-group">
    {{form.work_packages.label}}
    <br><br>
    {% for subfield in form.work_packages %}
    <div class="col-md-3">
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
    <br>
    </div>
    {% endfor %}
  </div>
  <br>
  <hr>
  <div class="form-group">
    {{form.partners.label}}
    <br>
    {% for subfield in form.partners %}
    <div class="col-md-4">
    {% if subfield.label.text == "admin" or subfield.label.text == "ViewAll" %}
    <br>
    {% else %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
    <br>
    {% endif %}
  </div>
    {% endfor %}
    <br>
  </div>
</form>
<hr>
{% endblock %}
