{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Partner</h1>
  <hr>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="/edit-partner/{{partner_id}}" method="POST">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.country, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.role, class_="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
{% endblock %}
