{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Welcome to GCRF African SWIFT: Project Management</h1>
  <p class="lead">
    <p>
      {% if session.logged_in %}
      <p> Work package leaders can review and update progress for all associated deliverables</p>
      <p> Partner leaders can review and update progress for all associated tasks and deliverables </p>
      <p>You are currently logged in as <b>{{ session.username }}</b></p>
      {% if session.username == "admin" %}
      <p> Use the <b>admin menu</b> for full <b>admin</b> edit access</p>
      {% else %}
      <p> <b>You are Partner Lead for: {{Ps}} </b> </p>
      <p> You may edit all Tasks and Deliverables associated with your username</p>
      <br>
      <p> <b>You are Work Package Leader for: {{WP}} </b> <p>
      <p> You may edit WP Overview and <b> view </b> associated tasks and deliverables </p>
      <br>
      <p> If you are <b>both</b> a work package leader and partner lead you must edit via the correct tabs i.e. tasks through the Partner Leader Tab and Overviews via the WP Leader Tab </p>
      {% endif %}
      {% else %}
      <p> Here Work Package and Partner Leaders can review and update progress for all associated tasks and deliverables</p>
      <p>Please <a href="/login">log in</a> to use this site</p>
      {% endif %}
</div>
{% endblock %}
