{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to GCRF African SWIFT: Project Magagement</h1>
    <p class="lead">
      Here, work-package leaders can review and update progress for all associated deliverables,
      and partner leaders can review and update progress for all associated tasks
    <p>
    {% if session.logged_in %}
      <p>You are currently logged in as <b>{{ session.username }}</b></p>
    {% else %}
      <p>Please <a href="/login">log in</a> to use this site</p>
    {% endif %}
  </div>
{% endblock %}
