<!DOCTYPE html>
<html lang="en-UK">

<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SWIFT-PM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href=/static/favicon.ico> <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheetv2.css')}}">
 <style type="text/css">
 .dataTables_scrollBody {
   transform:rotateX(180deg);
}
.dataTables_scrollBody table {
   transform:rotateX(180deg);
}
 </style>
  {% block styles %}{% endblock %}
</head>
<!-- Force HTTPS-->
<script language="JavaScript">
  var loc = window.location.href+'';
  if (loc.indexOf('http://')==0){
    window.location.href = loc.replace('http://','https://');
  }
</script>

<body>
  {% include 'includes/_header.html.j2' %}
  {% include 'includes/_navbar.html.j2' %}


  <div class="container" style="width:95%; margin:auto;">
    {% include 'includes/_messages.html.j2' %}
    {% block body %}{% endblock %}

</div>

  {% include 'includes/_footer.html.j2' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
