{% extends 'layout.html' %}

{% block body %}
  <h1>View Work Packages</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    {% for index, row in wpData.iterrows() %}
      <tr>
        <td>{{row['code']}}</td>
        <td>{{row['name']}}</td>
        <td><a href="/edit-work-package/{{row['code']}}" class="btn btn-primary pull-right">Edit</a></td>
        <td>
          <form action="/delete-work-package/{{row['code']}}" method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <hr>
{% endblock %}
