<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}
<h1>{{title}}</h1>
{% if reader == 'True' %}
<div style="text-align:right">
  <form action ='#' method="POST">
  <b> Select date to view archive: </b> {{ form.dat(class='datepicker') }}
    <input type="submit"/>

</form>
</div>
{% endif %}
<hr>
<p>{{description}} </p>
{% if tableClass == 'Users' %}
<p>Add or Delete users and edit user access settings. To delete a user: first deselect all access settings first </p>
{% endif %}
{% if editLink == "edit" %}
<a class="btn btn-success" href="/add/{{tableClass}}" role="button"><b>+</b> Add entry</a>
{% endif %}
<div>
  <table id="myTable" class="hover" style="width:100% ">
    <thead>
      <tr>
        {% for col in colnames %}
        <th>{{col}}</th>
        {% endfor %}
        <th></th>
        {% if editLink == "edit" %}
        <td></td>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for index, row in data.iterrows() %}
        <tr>
          {% for i in range(1,row|length) %}
            <td>{{row[i]}}</td>
          {% endfor %}
        <td>
          {% if tableClass == 'Users' %}
            <a href=/access/{{row['id']}} class="btn btn-primary pull-left">Edit Access Settings</a>
          {% elif editLink == "edit" %}
            <a href=/edit/{{tableClass}}/{{row['id']}} class="btn btn-primary pull-right">Edit</a>
          {% elif editLink == "none" %}
             <p> </p>
          {% else %}
          <a href=/{{editLink}}/{{row['id']}} class="btn btn-primary pull-right">Update</a>
          {% endif %}
        </td>

        {% if editLink == "edit" %}
        <td>
          <form action=/delete/{{tableClass}}/{{row['id']}} method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger pull-left">
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
{% endblock %}
{% block scripts %}
<!-- Datatables functionality - must have same columns in thead and tbody
i.e. account for the edit buttons appearing or dissappearing - I have chosen
to leave a hidden space for update button and create extra space in the admin
tables  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.20/sorting/date-uk.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.20/sorting/stringMonthYear.js"></script>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<script>
        var datepicker = new ej.calendars.DatePicker({ width: "255px" });
        datepicker.appendTo('#datepicker');
    </script>
{% if tableClass == 'Deliverables' or tableClass == 'Tasks' %}
{% if reader == 'True' %}
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
        {type: 'date-uk', targets: 10 },
        { type: 'stringMonthYear', targets: 5 },
        {targets: [2,6,8,9,11], orderable: false, searchable : false},

        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:400px'>" + data + "</div>";
                    },
                    targets: [6]},
        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:250px'>" + data + "</div>";
                    },
                    targets: [2,8]}
    ],
      order: [[0, "asc"]],
      stateSave: true,
      scrollX: true,
      pageLength: 25,
      fixedColumns:   {
            heightMatch: 'none'
        }
  });
});
</script>
{% else %}
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
        {type: 'date-uk', targets: 11 },
        { type: 'stringMonthYear', targets: 5 },
        {targets: [2,6,7,9,12], orderable: false, searchable : false},

        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:400px'>" + data + "</div>";
                    },
                    targets: [6,7]},
        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:200px'>" + data + "</div>";
                    },
                    targets: [2,9]}
    ],
      order: [[0, "asc"]],
      stateSave: true,
      scrollX: true,
      fixedColumns:   {
            heightMatch: 'none'
        }
  });
});
</script>
{% endif %}
{% elif tableClass == 'Users' %}
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
    {targets: [1,2,3], orderable: false, searchable : false}],
    paging: false,
  })});
</script>
{% elif tableClass == 'Partners' %}
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
    {targets: [0,1,2,3,4], orderable: false},
    {targets: [3,4], searchable : false}],
    order: [[1, "dsc"]],
    paging: false,
  })});
</script>
{% else %}
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
      {type: 'date-uk', targets: 7 },
      {targets: [1,2,3,4,5,6], orderable: false},
        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:600px'>" + data + "</div>";
                    },
                    targets: 2},
        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:400px'>" + data + "</div>";
                    },
                    targets: 3},
        {render: function (data, type, full, meta) {
                        return "<div style='white-space:normal; width:300px'>" + data + "</div>";
                    },
                    targets: 4}
    ],
      order: [[0, "asc"]],
      paging: false,
      stateSave: true,
      scrollX: true,
      scrollCollapse: true,
      fixedColumns:   {
            heightMatch: 'none'
        }
  });
});
</script>
{% endif %}
{% endblock %}
</html>
