{% extends 'layout.html' %}

{% block body %}
<h1>{{title}}</h1>
<hr>
<p> {{description}} </p>
<p> You may also view associated tasks and deliverables but only Partner Leaders may update. </p>
<div style="overflow-y:auto;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th style='width:17%;'>Name</th>
        <th style='width: 25%;'>Status Update</th>
        <th style='width: 25%;'>Issues</th>
        <th style='width: 18%;'>Next Quarter Deliverables</th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in data.iterrows() %}
      <tr>
        <td>{{row['code']}}</td>
        <td style='width: 17%;'>{{row['name']}}</td>
        <td style='width: 25%;'>{{row['status']}}</td>
        <td style='width: 25%;'>{{row['issues']}}</td>
        <td style='width: 18%;'>{{row['next_deliverable']}}</td>
        <td><a href=/wp-edit/{{row['id']}} class="btn btn-primary pull-right">Update</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if editLink == "edit" %}
<a class="btn btn-success" href="/add/{{tableClass}}" role="button"><b>+</b> Add entry</a>
{% endif %}
<hr>
{% endblock %}
