{% extends 'layout.html' %}

{% block body %}
  <h1>Your Work Packages</h1>
  <hr>
  <div style="overflow-y:auto;">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for index, row in data.iterrows() %}
      <tr>
        <td>{{row['code']}}</td>
        <td>{{row['name']}}</td>
        <td>{{row['status']}}</td>
        <td><a href=/wp-summary/{{row['id']}} class="btn btn-success">View Summary</a><td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
  <hr>
{% endblock %}
