/* Navbar themeing */
.navbar-default {
  background-color: #ffd600;
  border-color:  #ffd600;
}
.navbar-default .navbar-brand {
  color: #006d03;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-text {
  color: #006d03;
}
.navbar-default .navbar-nav > li > a {
  color: #006d03;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffd600;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #006d03;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #006d03;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffd600;
  background-color: #006d03;
}
.navbar-default .navbar-toggle {
  border-color:  #ffd600;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #006d03;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #006d03;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #006d03;
}
.navbar-default .navbar-link {
  color: #006d03;
  background-color: #ffd600;
}
.navbar-default .navbar-link:hover {
  color: #ffd600;
  background-color: #ffd600;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #006d03;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffd600;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffd600;
    background-color: #006d03;
  }
}

/* Table Scrolling */
table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 60px;
    width: 100%;
    vertical-align: top;
    /*text-align: left;*/
}

tbody {
    height: 675px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 11.1%;
    float: left;
}
